<%- include('../partials/header-dark.ejs') %>

<main class="container">
    <div class="row">
        <div class="col-md-6 offset-3">
            <div class="card mt-5">
                <div class="card-body">
                    <h1>Create a Quiz</h1>
                </div>
            </div>
            <form action="/quiz/create" method="POST">
                <div class="card mt-4" data-post="${i}">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="quizTitle">
                                Quiz Title
                            </label>
                            <input type="text" name="quizTitle" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="quizDescription">
                                Quiz Description
                            </label>
                            <input type="text" name="quizDescription" class="form-control" required>
                        </div>
                    </div>
                </div>
                <div id="PostCards">
                </div>
                <div class="card mt-4">
                    <div class="card-body">
                        <button onclick="addPost(event)" class="form-control btn btn-success btn-block" type="button">Add Post +</button>
                    </div>
                </div>
                <div class="card mt-4">
                    <div class="card-body">
                        <button class="form-control btn btn-primary btn-block" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>

<script>
		/*
		* This code handles adding and removing Posts
		*/
    const PostWrapper = document.querySelector('#PostCards')

    let Posts = [
        {
            text: '',
            answer: ''
        }
    ]

    const buildPosts = (Posts, wrapper) => {
        wrapper.innerHTML = ''
        for (let i = 0; i < Posts.length; i++) {
            wrapper.innerHTML += `
                <div class="card mt-4" data-post="${i}">
                    <div class="card-body">
                        <h2 class="mb-4 text-md">Post ${i+1}</h2>
                        <div class="form-group">
                            <label for="PostTitle${i}">
                                Post Text
                            </label>
                            <input type="text" value="${Posts[i].text}" data-post="${i}" data-input="text" onchange="inputChange(event)" name="PostTitle${i}" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="PostAnswer${i}">
                                Post Answer
                            </label>
                            <input type="text" value="${Posts[i].answer}" data-post="${i}" onchange="inputChange(event)" data-input="answer" name="PostAnswer${i}" class="form-control" required>
                        </div>
                        <button onclick="deletePost(event)" data-post="${i}" class="btn btn-danger" type="button">Delete Post</button>
                    </div>
                </div>
            `
        }
    }

    const inputChange = (e) => {
        let post = e.target.dataset.post

        Posts[post][e.target.dataset.input] = e.target.value

        buildPosts(Posts, PostWrapper)
    }

    const addPost = (e) => {
        Posts.push({text: '', answer: ''})
        buildPosts(Posts, PostWrapper)
    }

    const deletePost = (e) => {
        let post = e.target.dataset.post

        Posts.splice(post, 1)
        buildPosts(Posts, PostWrapper)
    }

    buildPosts(Posts, PostWrapper)
</script>

<%- include('../partials/footer.ejs') %>